# **Welcome to your first shared notebook on Google Colab!**

Please make a copy of this colab and start play with your own copy!

Colab is a hosted **Jupyter notebook** service that requires **no setup**, while providing **free access** to computing resources including GPUs (i.e. resources for creating images). 

Jupyter notebook is an open-source web application that allows to create and share documents that contain **live code**, **equations**, **visualizations** and **narrative text**.

A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. There are two kinds of cells: 
* **Text cells** (Markdown)
* **Code cells** (Equations, images and scripts)

Colab supports over 40 programming languages including **Python**, R, Julia, Scala. 
Click in the cell to select it and execute the contents in the following ways:
* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** **option/return** to run the cell and insert a new code cell immediately below it.

An overview of Colaboratory Features can be found here: https://colab.research.google.com/notebooks/basic_features_overview.ipynb#scrollTo=KR921S_OQSHG.

#### **Quick Quiz** 
Create a code shell and type the command print("Hello world"). Press shift + enter to run it.

In [ ]:
print("Hello World")

Hello World

The execution of the code is sequential. Each line is executed one after the other.

Time to get your hands dirty!
This notebook aims to summarize the contents of many online resources on Python Basics. This section will serve as a quick crash course both on the Python programming language and on the use of Python for scientific computing.


# **Python Basics**

**Table of Contents**
* Basic Data Types
  * Numbers (e.g. integer, float, complex)
  * Strings (text)
  * Booleans (bool)
* Operators
* Variables
* Dir and Help
* Built-in Data Structures
  * Lists
  * Tuples
  * Sets
  * Dictionaries
* Writing Scripts
  * Indentation
  * Tabs vs Spaces
  * Control Structures and Loops
    * If Statement
    * For Statement
* Writing Functions
* Object Basics
  * Classes
  * Objects
  * Static vs Instance Variables
* Tips and Tricks
* Troubleshooting
* More References

## **Basic Data Types**
Every value in Python has a data type. There are several data types (i.e., objects), we will list below some important ones: numbers, strings and booleans.
To verify the type of any object in Python, use the `type()` function:

In [ ]:
type(32)

int

In [ ]:
type(0.5)

float

In [ ]:
type('students')

str

In [ ]:
type(True)

bool

### **Numbers**
There are three numeric types in Python:
* `int`: a number, positive or negative, without decimals, of unlimited length.
* `float`: a number, positive or negative, containing one or more decimals
* `complex`: a number including an unknown value identify by "j"

In [ ]:
type(3j)

complex

### **Strings**
Strings in Python are surrounded by either single quotation marks, or double quotation marks.\
You can display a string literal with the `print()` function.

In [ ]:
print('Data Science for Public Policy')

Data Science for Public Policy

To concatenate string you can use the [+] operator

In [ ]:
'data' + " science"

'data science'

Python provides a set of built-in methods. Built-in methods are ready made functions that you can use without having to define them.\
A comprehensive overview of built-in methods for strings and other data types/structures can be find here: https://docs.python.org/3/library/stdtypes.html#string-methods

In [ ]:
'data'.upper()

'DATA'

In [ ]:
'HELP'.lower()

'help'

In [ ]:
len('Help')

4

### **Booleans**
Booleans are binary representation of truth states: True or False, 1 or 0.

In [ ]:
a = True  
a = False  
print(a)

False

The `bool()` function allows you to evaluate any value, and give you `True` or `False` in return. Almost any value is evaluated to `True` if it has some sort of content.
* Any string is True, except empty strings.
* Any number is True, except 0.
* Any list, tuple, set, and dictionary are True, except empty ones.

## **Operators**
Operators are used to perform operations on variables and values.\
*Example* of standard operators are:\
I + j the sum\
I - j the difference\
I * j the product\
I / j division\
I // j int division (returns integers)\
I % j the remainder when i is divided by j\
I ** j i to the power of j\
\
`<object> <operator> <object>`

Arithmetic expressions

In [ ]:
1 + 1

2

In [ ]:
2 * 3

6

In [ ]:
14679/56

262.125

Boolean operators

and	- conjunction\
or	- disjunction\
not	- negation

In [ ]:
1 == 0

False

In [ ]:
not (1 == 0)

True

In [ ]:
(2 == 2) and (2 == 3)

False

In [ ]:
(2 == 2) or (2 == 3)

True

## **Variables**
Variables are containers. They allow you to store data values.

To define a variable "s" use the [=].

In [ ]:
s = 'hello world'

In [ ]:
print(s)

hello world

You can overwrite the value associated to a variable.

In [ ]:
s = 'hello once again'

You can use a built-in method (i.e., upper()) to change the variable s.

In [ ]:
s.upper()

'HELLO ONCE AGAIN'

In [ ]:
len(s.upper())

16

In [ ]:
num = 8.0

You can define a value by using `+=`

In [ ]:
num += 2.5

In [ ]:
print(num)

10.5

#### **Quick Quiz**
What would have happened if we were using **=**?

## **Dir and Help**

To see what methods Python provides for a datatype, use the **dir** and **help** commands

In [ ]:
s = 'abc'

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(s.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [ ]:
s.find('b')

1

#### **Quick Quiz**
Define a variable of your choice (don't forget to use quotes if its text) and use type() command to discover its type. Check other methods you could use to modify the variable and apply one of them.

## **Built-in Data Structures**

### Lists
Lists store a sequence of mutable items. A mutable item is an object whose value can change once created.

In [ ]:
students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']

You can access the items in the list using their index. The index is the number that corresponds to the position of the item in the list.  
**Be careful**, in Python, indexing starts at 0 (i.e., the first item has 0 as index).

In [ ]:
students[0]

'Jonas'

In [ ]:
students[2] = 'Silvia'
students

['Jonas', 'Charlotte', 'Silvia', 'Giulia']

#### **Quick Quiz**
Given the list `students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']`
What is the index to select Giulia?

In [ ]:
students[?]

'Jonas'

List concatenation with [+] operator

In [ ]:
otherStudents = ['Hanyu', 'Marie-Sophie']
students + otherStudents

['Jonas', 'Charlotte', 'Sina', 'Giulia', 'Hanyu', 'Marie-Sophie']

Negative-indexing from the back of the list

In [ ]:
students[-2]

In [ ]:
students.pop()

['apple', 'orange']

In [ ]:
students

In [ ]:
students.append('Eleonora')

In [ ]:
students

In [ ]:
students[-1] = 'Matko'

In [ ]:
students

 Index multiple adjacent elements using the **slice operator** (e.g., students[start:stop])

In [ ]:
students[0:2]

In [ ]:
students[:3]

In [ ]:
#students[start:]
students[2:]

In [ ]:
len(students)

List can be any datatype

In [ ]:
lstOfLsts = [['carrots', 'apples', 'oranges'], [1, 2, 3], ['one', 'two', 'three']]

You can access an element embedded in a list by first selecting the index of the list and then the index of the element in the selected list. In this case we are selecting the third element of the second list.

In [ ]:
lstOfLsts[1][2]

3

In [ ]:
lstOfLsts[0].pop()

In [ ]:
lstOfLsts

In [ ]:
dir(list)

In [ ]:
help(list.reverse)

In [ ]:
lst = ['a', 'b', 'c']

In [ ]:
lst.reverse()

To check if an element is part of a list you can use the `in` keyword.\
Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

In [ ]:
a in lst

False

In [ ]:
'a' in lst

True

In [ ]:
my_super_string = 'all I want is pizza'

In [ ]:
print('pizza' in my_super_string)

True

#### **Quick Quiz**

What is the output of the print() function call?
```
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))
```

Specifying **strides** while slicing strings.

In [ ]:
my_passion = 'I like bikes, I like every kind of bike'

In [ ]:
print(my_string[13:])

 I like every kind of bike

In [ ]:
print(my_passion[0:25:3])

Ii k, ker

Specifying the stride of 3 as the last parameter in the Python syntax my_passion[0:25:3] prints only every three character.

#### **Quick Quiz**
**Each character in a string has an index**.\
For the string Arnaud Rocks! the index breakdown is as follows:
```
Arnaud Rocks !
0123456789101112
```
What is the slice expression that gives every third character of string `Arnaud Rocks!`, starting with the last character and proceeding backward to the first?

### **Tuples**
Tuples are like a lists except that they are immutable once they are created (i.e. you cannot change its content once created)

In [ ]:
pair = (3, 5)

In [ ]:
pair[0]

In [ ]:
 x, y = pair

In [ ]:
x

In [ ]:
y

In [ ]:
pair[1] = 6

The attempt to modify an immutable structure raised an exception. Exceptions indicate errors: index out of bounds errors, type errors, and so on will all report exceptions in this way.

### **Sets**
Sets are unordered lists with no duplicate items.

In [ ]:
 shapes = ['circle', 'square', 'triangle', 'circle']

In [ ]:
setOfShapes = set(shapes)

In [ ]:
setOfShapes

{'circle', 'square', 'triangle'}

In [ ]:
setOfShapes.add('polygon')

In [ ]:
setOfShapes

{'circle', 'polygon', 'square', 'triangle'}

In [ ]:
'circle' in setOfShapes

True

### **Dictionaries**
Dictionaries store a map from one type of object (the key) to another (the value). The key must be an immutable type (string, number, or tuple). The value can be any Python data type. For instance, a dictionary can contain an address book and you access each contact by specifying its name.

In [ ]:
my_dic = {}
my_dic["first_name"] = "Arnaud"
my_dic["surname"] = "Weiss"
my_dic["work"] = "President"
my_dic

{'first_name': 'Arnaud', 'surname': 'Weiss', 'work': 'President'}

You can access a value using its key

In [ ]:
my_dic['first_name']

'Arnaud'

It is possible to re-assign a value associated with a key

In [ ]:
my_dic['work'] = 'Professor'
my_dic

You can use `del` to delete an element of the dictionary (key and value)

In [ ]:
del my_dic['first_name']
my_dic

It is also possible to assign a list of value to a key

In [ ]:
my_dic['work'] = ['Professor', 'President']
my_dic

Access the list of keys

In [ ]:
my_dic.keys()

dict_keys(['surname', 'work'])

Access the list of values

In [ ]:
my_dic.values()

dict_values(['Weiss', ['Professor', 'President']])

Access a view object that displays a list of a given dictionary's (key, value) tuple pair

In [ ]:
my_dic.items()

dict_items([('surname', 'Weiss'), ('work', ['Professor', 'President'])])

Check the length of the dictionary

In [ ]:
len(my_dic)

2

In [ ]:
my_dic['arnaud']

KeyError: ignored

If the key does not exist in the dictionary, a KeyError exception will be thrown.
Dictionaries can contain other objects. These objects are placed and accessed through keys. A dictionary can not naturally contain two identical keys. On the other hand, nothing prevents to have two identical values in the dictionary.
Be careful, however, a dictionary does not have an ordered structure. If we delete a key, the dictionary, unlike lists, will not shift all index keys above the deleted index.

## **Writing Scripts**

###**Control Structures** and **Loops**

In [ ]:
# This is what a comment looks like
students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']
# for statement
for student in students:
    print(student + ' has a passion!')

studentsPassions = {'Jonas': 'playing guitar', 'Charlotte': 'climbing', 'Sina': 'biking', 'Giulia': 'surfing'}
for student, passion in studentsPassions.items():
    # if statement
    if passion == 'biking':
        print('I like ' + passion + ' more')
    else:
        print(passion + ' is cool!')

Jonas has a passion!
Charlotte has a passion!
Sina has a passion!
Giulia has a passion!
playing guitar is cool!
climbing is cool!
I like biking more
surfing is cool!

#### If Statement 
find more on: https://docs.python.org/3.6/tutorial/controlflow.html#if-statements

In [ ]:
x = int(input("Please enter an integer: "))

Please enter an integer: 32

In [ ]:
if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

More

In [ ]:
var1 = 6
var2 = 3

if var1 > var2:
  print("This is also True")
else:
  print("That was False!")

This is also True

In [ ]:
value = input('Type a number ')

Type a number 23

In [ ]:
print(value)
print(type(value))

23
<class 'str'>

In [ ]:
value = input("Type a number ")
value = int(value)

if value < 10:
  print("The value is smaller than 10!")
elif 10 <= value <= 20:
  print("The value is larger than 10 but smaller than 20.")
else:
    print("The value is larger than 20.")

Type a number 32
The value is larger than 20.

#### **For Statement**

In [ ]:
words = ['cat', 'window', 'defenestrate']

In [ ]:
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
for w in words[:]:  # Loop over a slice copy of the entire list.
  if len(w) > 6:
    words.insert(0, w)

In [ ]:
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [ ]:
for k in range(10, 15):
    print(k)

Map and filter

In [ ]:
list(map(lambda x: x * x, [1, 2, 3]))

In [ ]:
list(filter(lambda x: x > 3, [1, 2, 3, 4, 5, 4, 3, 2, 1]))

 List comprehension construction

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
plusOneNums = [x + 1 for x in nums]
oddNums = [x for x in nums if x % 2 == 1]
print(oddNums)
oddNumsPlusOne = [x + 1 for x in nums if x % 2 == 1]
print(oddNumsPlusOne)